<div class="container">
{% extends 'base.html'%}


{% block content %}
 <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6 mt-5 pt-5">
        <div class="brand text-center pt-5 pb-5">
          <a style="font-size: 62px;" class="text-info text-title insta"><i class="fa fa-instagram text-info ml-5"></i>instagramMOD</a>
        </div>
        <div class="card bg-light pl-3 pr-3 text-black">
          <h5 class="pt-3">Login to instagramMOD</h5>
          <div class="border-bottom pt-3 text-center">
              <a class="text-info" href="{% url 'login' %}">Log In</a> | <a class="text-info" href="{% url 'register' %}">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}
