{% extends 'base.html' %}
<nav class=" nav-tabs sticky-top  navbar-expand-sm bg-light ">

    <ul class="nav sticky-top" id="navId">
      <li class="nav-item">
        <a style="font-family:Architects Daughter; font-size: 23px; color: rgb(0, 0, 0);" href="{% url 'posts' %}" class="nav-link active fa fa-instagram">instagramMOD</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a style="font-family: Kalam; font-size: 22px; color: rgb(168, 97, 97);" href="{% url 'createpost' %}" class="nav-link">post</a>
      </li>
      <form class="nav-item" form-inline my-2 my-lg-0 action="{% url 'search' %}" class="text-black" method="get">
        {% csrf_token %}
        <input style="width: 39vh; text-align: center;" type="text" name="post" class="form-control text-black"
          placeholder="search">

      </form>
      <li  style="font-family: Kalam; font-size: 22px; " class="nav-item dropdown" style="float: left; ">
        <a class="nav-link dropdown-toggle" style="color: rgb(168, 97, 97)" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Menu</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'profile' %}">Account</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#tab4Id">Action</a>
        </div>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
      <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
    </div>
    
  </div>
</nav>
{% endif %}

<script>
  $('#navId a').click(e => {
    e.preventDefault();
    $(this).tab('show');
  });
</script>



